@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

.example-button {
  background: rgb(86, 1, 245);
  color: white;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}