body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}